<a
  href="#"
  class="shadow-xl shadow-indigo-500/50 group shadow-md mx-12 md:mx-0 mb-4 bg-gradient-to-br from-secondary-100 via-secondary-100 to-secondary-200 block rounded-3xl"
>
  <img
    src="{{ game.background_image }}"
    alt="games pictures"
    class="h-48 w-full object-fill object-center group-hover:opacity-75 rounded-t-3xl"
  />
  <p class="mt-2 ml-2 font-mulish text-sm text-secondary-300">
    {{ game.released }}
  </p>
  <p class="mt-1 ml-6 p-2 font-mulish text-lg font-semibold text-stone-300">
    {{ game.name }}
  </p>
</a>
