<!--Footer container-->
<footer class="text-center text-white bg-secondary-100">
  <div class="container p-6">
    <div class="">
      <p class="flex items-center justify-center">
        <span class="mr-4">Register for free</span>
        <button
          type="button"
          class="mr-3 inline-block rounded bg-secondary-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-secondary-300 hover:text-slate-700 hover:shadow-md hover:shadow-secondary-300"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          Sign up!
        </button>
      </p>
    </div>
  </div>

  <!--Copyright section-->
  <div class="p-4 text-center bg-primary">
    © 2023 Copyright:
    <a class="text-white" href="https://tailwind-elements.com/"
      >Tailwind Elements</a
    >
  </div>
</footer>
